<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>Place of visit:</strong>
  <%= @expense.place_of_visit %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @expense.purpose %>
</p>

<p>
  <strong>Particulars:</strong>
  <%= @expense.particulars %>
</p>

<p>
  <strong>Bill enclosed:</strong>
  <%= @expense.bill_enclosed %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @expense.remarks %>
</p>


<p>
  <strong>File Enclosed:</strong>
  <a><%= link_to "Download", @expense.cover.url.to_s if @expense.cover%> </a><br/>

  <%#= (@expense.cover.url) if @expense.cover %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
